<div class="listTitle">
    <h3>{{title}}</h3>
    <h2>{{user.firstName}} {{user.lastName}}</h2>
</div>

{{> home/adminList}}
<style>
    .functions button{
        margin-left: auto;
        margin-right: 10px;
    }
</style>