<link rel="stylesheet" type="text/css" href="/css/list.css">

<div class="adminMain">
    <h2>Velkommen {{user.firstName}}</h2>


    <section class="mainCards">
    {{#each content}}
            <a href="/admin/{{this.reference}}" class="mainCard">
                <button>
                    {{this.name}}
                </button>
            </a>
    {{/each}}
    </section>
</div>