<section>
    <link rel="stylesheet" type="text/css" href="/css/partials/objectList.css">
    <ul class="objectList">
        {{#each content}}
            {{> partials/listItem}}
        {{/each}}
    </ul>
</section>