<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    {{#if lastPage}}
    <a href="{{lastPage}}">last page</a>
    {{/if}}
    <a href="/">Login page</a> |
    <a href="/createTask">create task</a> |
    <a href="/gasstation">Tankstationsejer</a>
    <a href="/admin/users">Admin list</a>
    <a href="/profile">profile</a>
    <a href="/createtaskdata/7">Create Task Data</a>
    <a href="/taskHistorie">Task historie</a>
    <a href="/admin/gasstations/7">Modify Gasstation</a>
    <a href="/admin/users/7">Modify User</a>
    <a href="/admin/products/2">Modify product 2</a>
  </header>

  {{{body}}}

  <footer></footer>
</body>

</html>
