<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    <a href="/">Index</a> | 
    <a href="/login">Login page</a> | 
    <a href="/task">Task page</a>
    <a href="/gasstation">Tankstationsejer</a>
  </header>

  {{{body}}}

  <footer></footer>
</body>

</html>