h2 {
    color: black;
    text-align: center;
    padding-bottom: 0px;
    font-family: var(--sansFont);
    
}

p {
    color: black;
    text-align: center;
    font-weight: 700;
}

h4{
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: 200;
}

button{
    display: grid;
    justify-self: center;
    align-self: center;

}