h2 {
    color: var(--darkBlue);
    text-align: center;
    padding-bottom: 0px;
    font-family: var(--sansFont);
    
}

p {
    color: var(--darkBlue);
    text-align: center;
    font-weight: 700;
}

h4{
    color: var(--darkBlue);
    text-align: center;
    font-style: italic;
    font-weight: 400;
}
.darkBtn{
    display: block;
    margin: auto;
    color: var(--lightBlue);
    background-color: var(--darkBlue);
    border-color: var(--darkBlue);
    padding: 15px 8px;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 40px;
    width: 50%;
    text-decoration: none;
    text-align: center;
}

.logout{
    text-decoration: underline;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: var(--darkBlue);
    opacity: 0.33;
    font-weight: 600; 
}


.logout-card {
    display: grid;
    justify-self: end;
    margin-right: 5%;
}

.logout-card button {
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 10px !important;
}

.logoutSvg {
    fill: var(--darkBlue);
    width: 2rem;
    height: 2rem;
}
.logout-form{
    width: fit-content;
    margin-left: auto;
}
.logout-form *{
    fill: var(--darkBlue);
    color: var(--darkBlue);
    background-color: transparent;
    border: none;
}
.logout-form p{
    margin-bottom: 0;
}