h2 {
    color: black;
    text-align: center;
    padding-bottom: 0px;
    font-family: var(--sansFont);
    
}

p {
    color: black;
    text-align: center;
    font-weight: 700;
}

h4{
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

button{
    display: grid;
    justify-self: center;
    align-self: center;
     color: var(--lightBlue);
    background-color: var(--darkBlue);
    border: none;
    border-color: var(--darkBlue);
    padding: 8px;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    width: 50%;
    text-decoration: none;

}

.logout{
    text-decoration: underline;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: var(--darkBlue);
    opacity: 0.33;
    font-weight: 600; 
}


.logout-card {
    display: grid;
    justify-self: end;
    margin-right: 5%;
}

.logout-card button {
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 10px !important;
}

.logout-button {
    background: var(--lightBlue);
    border: none;
    padding: 10px 14px;
    cursor: pointer;
}


.logoutSvg {
    fill: var(--darkBlue);
    width: 2rem;
    height: 2rem;
}