h1 {
    color: var(--darkBlue);
    text-align: center;
    padding-bottom: 0px;
    font-family: var(--sansFont);
    
}

form {
    min-height: 50vh;
    display: grid;
    place-items: center;
    font-family: var(--sansFont);
    border: none;
}

#myBtn {
    margin: 1rem;
    width: 100%;
    background-color: var(--darkBlue);
    color: #CAF0F8;
    font-family: var(--sansFont);
    font-weight: 600;
    font-size: large;
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.startLog {
    margin: 1rem;
    width: 100%;
    background-color: var(--darkBlue);
    color: #CAF0F8;
    font-weight: 600;
    font-size: large;
    font-family: var(--sansFont);
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

p {
    color: var(--darkBlue);
    text-align: center;
    font-weight: 700;
    font-family: var(--sansFont);
}

.calenderText{
    color: var(--darkBlue);
    font-family: var(--sansFont);
    font-weight: 700;
}

