h1 {
    color: var(--darkBlue);
    text-align: center;
    padding-bottom: 0px;
    font-family: var(--sansFont);
    font-size: x-large;
    
    padding-top: 20px;
    
}

form {
    min-height: 50vh;
    display: grid;
    place-items: center;
    font-family: var(--sansFont);
    border: none;
}

#myBtn {
    margin: 1rem;
    width: 100%;
    background-color: var(--darkBlue);
    color: #CAF0F8;
    font-family: var(--sansFont);
    font-weight: 600;
    font-size: large;
    border: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 0px;
}

.startLog {
    margin: 1rem;
    width: 100%;
    background-color: var(--darkBlue);
    color: #CAF0F8;
    font-weight: 600;
    font-size: large;
    font-family: var(--sansFont);
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
}

p {
    color: var(--darkBlue);
    text-align: center;
    font-weight: 700;
    font-size: larger;
    font-family: var(--sansFont);
}

.calenderText{
    color: var(--darkBlue);
    font-family: var(--sansFont);
    font-weight: 700;
    font-size: larger;
    align-self: center;
}

.start{
    color: var(--darkBlue);
    font-weight: 700;
    font-family: var(--sansFont);
}



.startTime input{
    color: var(--darkBlue);
    font-weight: 700;
    font-family: var(--sansFont);
    background-color: white;
    border: 1px solid var(--darkBlue);
    width: 140px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 20px;
}