.listSite {
    display: grid;
    grid-template-rows: 3rem 1fr;
    place-items: center;
    row-gap: 1em;
    
    @media screen and (min-width: 426px) {
        margin-left: var(--sideMargin);
        margin-right: var(--sideMargin);
    }
}
.adminMain {
    display: grid;
    grid-template-rows: 3rem 1fr;
    place-items: center;
    row-gap: 1rem;
    margin-top: 5rem;

    h3 {
        margin: 0;
    }

    @media screen and (min-width: 426px) {
        margin-left: var(--sideMargin);
        margin-right: var(--sideMargin);
    }

}

.mainCards {
    display: grid;
    row-gap: 1rem;
    padding: 0;
    width: calc(100% - (2 * var(--sideMargin)));
}

.mainCard {
    background-color: var(--darkBlue);
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;

    a {
        text-decoration: none;
    }

    button{
        color: var(--lightBlue);
        background-color: var(--darkBlue);
        border: none;
        font-size: large;
        font-weight: 600;
    }
}


.listCards {
    display: grid;
    row-gap: 1rem;
    padding: 0;
    width: calc(100% - (2 * var(--sideMargin)));
    @media screen and (min-width: 900px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
    
}

.listCard {
    background: white;
    color: var(--darkBlue);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto auto;
    border: 2px solid var(--darkBlue);
    grid-template-areas:
        'name functions'
        'time functions'
        'contact contact';

    .name {
        grid-area: name;
        margin: 0.5rem;
        margin-left: 1rem;
    }

    .time{
        grid-area: time;
        margin: 0.5rem;
        margin-left: 1rem;
    }

    .contact {
        grid-area: contact;
        font-size: small;
        margin-top: 0;
        margin-left: 1rem;
    }
    .functions{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        grid-area: functions;
        svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: var(--darkBlue);
        }
        button {

            border: none;
            padding: 0;
            background: none;
            cursor: pointer;
        }
    }
}
