.listSite {
    display: grid;
    grid-template-rows: 3em 1fr;
    place-items: center;
    row-gap: 1em;
    
    @media screen and (min-width: 426px) {
        margin-left: var(--sideMargin);
        margin-right: var(--sideMargin);
    }
}

.createNew {
}

.listCards {
    display: grid;
    row-gap: 1em;
    padding: 0;
    @media screen and (min-width: 900px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;
    }
}

.listCard {
    background: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
    border: 2px solid #bdbdbd;
    grid-template-areas:
        'name functions'
        'contact contact';

    .name {
        grid-area: name;
        margin: 0.5em;
        margin-left: 1em;
    }

    .contact {
        grid-area: contact;
        font-size: small;
        margin-top: 0;
        margin-left: 1em;
    }
    .functions{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        grid-area: functions;
        svg {
            width: 1.2em;
            height: 1.2em;
        }
        button {
            style: none;
        }
    }
}
