:root {
  --sideMargin: 10%;
  --sansFont: 'Open Sans', sans-serif;
  --white: #ffffff;
  --black: #000000;
  --green: #4F9D69;
  --red: #ff0000;
  --darkBlue:#03045E;
  --lightBlue:#CAF0F8;
  --sectionWidth: calc(100% - var(--sideMargin)*2);

  color-scheme: light dark;
}

body {
  font-family: sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--lightBlue);
  padding-bottom: 20px;
  overflow-y: scroll;
  padding-top: 10vh;
}

section {
  box-sizing: border-box;

}
header{
  height: fit-content;
  z-index: 99999;

/*Remove later */
  height: 10vh;
  overflow-y: scroll;
/**/

  background-color: var(--darkBlue);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 0;
  
}

/*Remove later */
header *{color: var(--lightBlue);}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sansFont);
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  
}
header a, header button{
  height: 7vh;
  margin: 1.5vh 2vw;
  width: fit-content;
  box-sizing: border-box;
}
header svg{
  height: 100%;
  width: auto;
}
header svg *{
  stroke: var(--lightBlue);
  fill: var(--lightBlue);
}
header .previousPageLink {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    justify-self: start;
    grid-column: 1;
}
header .ProfilePageLink {
  grid-column: 2;
    justify-self: end;
}

datalist{
  display: none !important;
}

.hidden, .hidden *{
  display: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}


.darkbg{
  background-color: var(--darkBlue);
}
.darkbg *{
  color: var(--lightBlue);
}
.btn-white{
  display: grid;
  background-color: var(--white);
  border-radius: 3px;
  overflow: hidden;
  place-items: center;
  padding: 5px 10px;
  text-decoration: none;
}
.btn-white *,.btn-white{
  color: var(--black);
}
.listTitle{
  text-align: center;
}
.listTitle h2{
    margin: 0;
    color: var(--darkBlue);
}
.listTitle h3{
    margin-bottom: 5px;
    color: var(--darkBlue);
}