/* The Modal (background) */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  margin-top: 40px;
}

/* Modal Content*/
.modal-content {
  background-color: #CAF0F8;
  color: #03045E;
  margin: 15% auto; 
  padding: 20px;
  width: 80%; 
}

/* The Close Button */
.close {
  color: var(--darkBlue);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--darkBlue);
  text-decoration: none;
  cursor: pointer;
}

.branch-dropdown {
  display: grid;
  place-items: center;
  margin: 7%;
  color: var(--lightBlue);
  margin-right: 15px;
}

.station-select {
  padding: 3%;
  background-color:  var(--darkBlue);
  font-family: var(--sansFont);
  color: var(--lightBlue);
  font-weight: 700;
  border: none;
  width: 80%;
  border-radius: 5px;
  
}


.selectStationBtn {
  display: grid;
  place-items: center;
  background-color: #ffffff;
  color: var(--darkBlue);
  font-family: var(--sansFont);
  font-weight: 700;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

#selected-station {
  display: grid;
  place-items: center;
  color: var(--darkBlue);
  font-family: var(--sansFont);
  font-weight: 700;

}


.station-select.selected {
  background-color: #0077b6; /* tydelig farve */
  color: #ffffff;
  border: 2px solid #03045E;
}