/* temp for night coding*/




section.modifySection form {
    display: block;
}
section.modifySection form div label,section.modifySection form div input,section.modifySection form div select {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    border: none;
}
section.modifySection form div input, section.modifySection form div select {
        border-style: solid;
        border-width: 1.5px;
        border-color: var(--darkBlue);
        background-color: var(--white);
}
section.modifySection form div {
    margin-bottom: 15px;
}
section.modifySection form div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section.modifySection form div:last-child button:first-child {
    justify-self: start;
}
section.modifySection form div:last-child button:last-child {
    justify-self: end;
}
