section {
    padding-left: var(--sideMargin);
    padding-right: var(--sideMargin);
}
section.modifySection{
    height: auto;
}
section.modifySection form {
    display: block;
    overflow-y: scroll;
    max-height: 80%;
}
section.modifySection h2{
    color: var(--darkBlue);
}
section.modifySection div label,
section.modifySection div input,
section.modifySection div select{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    color: var(--darkBlue);
}
section.modifySection  div input, 
section.modifySection  div select,
section.modifySection  div option {
        border-style: solid;
        border-width: 1.5px;
        border-color: var(--darkBlue);
        background-color: var(--white);
}


section.modifySection form div:not(:has(img)) {
    margin-bottom: 15px;
}
.functionButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    height: 20%;

}
.functionButtons button {
    border: none;
    background-color: transparent;
    width: 40%;
}
.functionButtons button:hover {
    cursor: pointer;
}
.functionButtons button:first-child {
    justify-self: start;
}
.functionButtons button:last-child {
    justify-self: end;
}
.functionButtons button svg{
    width: 100%;
    fill: var(--darkBlue);
    max-width: 300px;
    min-width: 50px;
}
.bigIcon{
    fill: var(--darkBlue);
    stroke: var(--darkBlue);
    width: 60%;
    height: auto;
    padding-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

section.modifySection .removeImageButton {
    border: 5px;
    background-color: var(--darkBlue);
    margin: none;
    padding: 5px;
    border-radius: 4px;
}
section.modifySection .imageGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 10px;
}

.imageContainer {
    display: grid;
    grid-template-areas:
        "stack";
    aspect-ratio: 1 / 1;
    max-width: 150px;
}

.imageContainer img {
    grid-area: stack;
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.imageContainer svg {
    grid-area: stack;
    width: 30%;
    justify-self: right;
    filter: drop-shadow(2px 2px 2px black);
}
.removeImageButton {
    border: 5px;
    background-color: var(--darkBlue);
    margin: none;
    padding: 5px;
    border-radius: 4px;
}
.imageGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 10px;
}
.productItemList{
    display: grid;
    grid-template-columns: 7fr 2fr 1fr;
}

