section {
    padding-left: var(--sideMargin);
    padding-right: var(--sideMargin);
}
section.modifySection{
    height: auto;
}
section.modifySection form {
    display: block;
    overflow-y: scroll;
    max-height: 80%;
}
section.modifySection form div label,
section.modifySection form div input,
section.modifySection form div select {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    color: var(--darkBlue);
}
section.modifySection form div input, 
section.modifySection form div select {
        border-style: solid;
        border-width: 1.5px;
        border-color: var(--darkBlue);
        background-color: var(--white);
}


section.modifySection form div {
    margin-bottom: 15px;
}
.functionButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
    height: 20%;

}
.functionButtons button {
    border: none;
    background-color: transparent;
    width: 40%;
}
.functionButtons button:hover {
    cursor: pointer;
}
.functionButtons button:first-child {
    justify-self: start;
}
.functionButtons button:last-child {
    justify-self: end;
}
.functionButtons button svg{
    width: 100%;
    fill: var(--darkBlue);
}
.bigIcon{
    fill: var(--darkBlue);
    stroke: var(--darkBlue);
    width: 60%;
    height: auto;
    padding-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}