button{
    color: var(--lightBlue);
    background-color: var(--darkBlue);
    border: none;
    border-color: var(--darkBlue);
    padding: 8px;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

button:hover{
    background-color: black;
}

.sec1{
    text-align: center;
    color: black;
}

.sec2{
    display: grid;
    gap: 10px;
    padding-left: 65px;
    padding-right: 65px;
}

h2{
    font-weight: 700;
}

h3{
    font-weight: 400;
    font-size: x-large;
}

