section.profile-card {
    padding-left: var(--sideMargin);
    padding-right: var(--sideMargin);
    width: calc(100 - var(--sideMargin)*2);
    padding: 20px;
    display: grid;
    place-items: center;
}
section.profile-card svg {
    width: 50%;
    height: auto;
    display: block;
}
section.profile-card .inputField {
    margin-top: 15px;
}
section.profile-card .inputField:last-of-type {
    margin-bottom: 25px;
}
section.profile-card .inputField input{
    width: 100%;;
}
section.profile-card .inputField label{
    display: block;
    margin-bottom: 0px;
}




.logout-card {
    display: grid;
    justify-self: end;
    margin-right: 5%;
}

.logout-button {
    background: var(--lightBlue);
    border: none;
    padding: 10px 14px;
    cursor: pointer;
}

.logout-button:hover {
    background: var(--darkBlue);
}

.logoutSvg {
    fill: var(--darkBlue);
    width: 2rem;
    height: 2rem;
}

.logout-button:hover .logoutSvg {
    fill: var(--lightBlue);
}



