section.profile-card {
    padding-left: var(--sideMargin);
    padding-right: var(--sideMargin);
    width: calc(100 - var(--sideMargin)*2);
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
}
section.profile-card svg {
    width: 50%;
    height: auto;
    display: block;
}
section.profile-card .inputField {
    margin-top: 15px;
}
section.profile-card .inputField:last-of-type {
    margin-bottom: 25px;
}
section.profile-card .inputField input{
    width: 100%;;
}
section.profile-card .inputField label{
    display: block;
    margin-bottom: 0px;
}
section.language-flags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
section.language-flags > * {
  flex: 0 1 calc(20% - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
