.title{
    color: var(--darkBlue) !important;
    display: grid;
    justify-content: center;

}

.form-group {
    display: grid;
    justify-content: center;
    gap: 1rem;
    
}

.form-group label {
    color: black;
    font-weight: 600;
    font-size: larger;

}

.form-group input {
     padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--lightBlue);
    color: var(--darkBlue);
    border: var(--darkBlue) 2px solid;
    color: var(--darkBlue);
    font-weight: 600;
}

form {
    display: grid;
    justify-content: center;
    
}

.submit {
    margin-top: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--darkBlue);
    color: var(--lightBlue);
    font-weight: bold;
    
}