.task-showImages{
    color: black;
    display: grid;
    text-align: center; 
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
padding: 0px !important;
    margin: 0px !important;
}

.task-showImages p {
    padding: 0px;
    margin: 0px;

};



.image-container {
    display: grid;
    grid-template-areas:
        "stack";
    aspect-ratio: 1 / 1;
    max-width: 150px;
}

.image-container img {
    grid-area: stack;
    border-radius: 4px;
}

.imageGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    row-gap: 10px;
}
.taskImages {
    aspect-ratio: 1 / 1;
    max-width: 100%;
    width: 100%;

}

.text-container{
    display: grid;
    justify-content: center;
    padding: 0px;
    margin: 0px;

}

h3{
    padding: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 5px;

}

h4 {
    padding: 0px !important;
    margin-top: 5px !important;
    margin-bottom: 5px;
    font-weight: 500;
}