

section{
    background-color: black;
    display: grid;
    
}

.sec1{
    display: grid;
    justify-content: space-around;

}

.before .after {
    justify-content: space-around;
}

.sec2{
    display: grid;
    justify-content: space-around;
}

.before {
    background-color: none;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.after{
    background-color: none;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.uploadet {
    background-color: none;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}