

section {
    gap: 8px;
        color: var(--lightBlue)!important;


}

.sec1 {
    background-color: var(--darkBlue);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
    color: var(--lightBlue) !important; 
}

.sec1 h4 {
    grid-column: 1 / -1;
    margin: 0 0 10px 0;
    color: var(--lightBlue);
}

.pic-upload,
.sec1>div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.camera {
    width: 120px;
    height: 120px;
}

.before,
.after {
    background-color: var(--darkBlue);
    border: none;
    color: var(--lightBlue);
    text-decoration: underline;
    font-style: italic;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

.uploadet {
    grid-column: 1 / -1;
    background-color: var(--darkBlue);
    border: none;
    color: var(--green);
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    font-style: italic;
}

h2 {
    color: black;
    text-align: center;
    padding-bottom: 0px;
}

.sec2 {
    background-color: var(--darkBlue);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: grid;
    gap: 30px;
    align-items: start;
    margin-top: 15px;
    color: var(--lightBlue)!important;

}


.frontspace-warning {
    color: red;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 14px;
    padding-top: 0px;

}