<h2>Relaterede tankstationer til <br>{{user.firstName}} {{user.lastName}}</h2>
{{> home/adminList}}
<style>
    .functions a{
        display: none;
    }
    .functions button{
        margin-left: auto;
        margin-right: 10px;
    }
</style>