{{! reset password side password skrives 2 gange }}
<form action="/login" method="post" id="login">
    <P>{{message}}</P>
    <input
        type="text"
        name="password"
        id="password"
        placeholder="kodeord"
        label
    />
    <input
        type="text"
        id="password"
        placeholder="gentag kodeord"
        name="password"
    />
    <a type="resetPassword" href="forgotPassword">Glemt kodeord</a>
    <button class="submit-button" type="submit">login</button>
    <button class="kontakt" type="submit">kontakt</button>
</form>
