{{! reset password side password skrives 2 gange }}
<div class = 'container'>
    <h2>Nulstil password</h2>
    <form action='/login/reset/{{uniqueId}}' method='POST'>
        <div class='form-group'>
            <label for='password'>Nyt password</label>
            <input type='password' id='password' name='password' required minlength='8'>
</div>
<div class='form-group'>
            <label for='confirmPassword'>Bekræft Password</label>
            <input type='password' id='confirmPassword' name='confirmPassword' required minlength='8'>
</div>
<button type="submit">Nulstil</button>
</form>
