<!--velkommen (med tom string der henter fra profil)-->
<p>Velkommen
    {{#each users}}
    {{this.firstName}}!
    {{/each}}<!-- EW! >:( -->

    {{#each tasks}}
<p>{{this.userId}}</p>
{{/each}}

<!--Modal-->
<button id="getGasstation">Vælg tankstation</button>

<!--start rengøring ved (valgte tankstation)-->
<p>start rengøring ved {{tankstation.2.branch}}</p>


<!--valg af dato, med automatisk valg af idag-->
<div>
    <p>kalender</p>
</div>

<!--tidspunkt for rengøring-->
<div>
    <p>start tidspunt for rengøring</p>
</div>

<!--start log-->
<button>start log</button>