<!--velkommen (med tom string der henter fra profil)-->
<p>Velkommen
    {{#each users}}
    {{this.firstName}}!
    {{/each}}<!-- EW! >:( -->

    {{#each tasks}}
<p>{{this.userId}}</p>
{{/each}}


<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Vælg tankstation</h1>
        <button>Q8</button>
        <button>Shell</button>
        <button>OK Plus</button>
        <button>UNO-X</button>
        <button>Cirkle K</button>
    </div>

</div>
<!--start rengøring ved (valgte tankstation)-->
<p>start rengøring ved {{tankstation.2.branch}}</p>


<!--valg af dato, med automatisk valg af idag-->
<div>
    <p>kalender</p>
</div>

<!--tidspunkt for rengøring-->
<div>
    <p>start tidspunt for rengøring</p>
</div>

<!--start log-->
<button>start log</button>

<link rel="stylesheet" type="text/css" href="./css/modal.css">
<script src="/js/modal.js" defer></script>