{{! email skrives til at sende email til brugeren}}

<link rel="stylesheet" type="text/css" href="/css/resetPassword.css" />
<div class="container">
    <h2 class="title">Email konfiguration</h2>
    <form action="/login/forgotPassword" method="POST">
        <div class="form-group">
            <label for="email">Indtast din email</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
       <button onclick="alert('Der er nu sendt et link til din email, så du kan nulstille dit kodeord!')" class="submit" type='submit'>Send reset link</button>
       {{!-- indsæt alert --}}
        
    </form>
</div>
