
<section class="sec1">
<h2>Velkommen {{owner.firstName}}!</h2>
<h3>{{message}}</h3>
</section>

<section class="sec2">
{{#each gasstations}}
    <button>
        {{this.address}}
    </button>
{{/each}}
</section>

<link rel="stylesheet" type="text/css" href="./css/owner.css">
