<P>{{message}}</P>
{{!-- username --}}
<label for="username">Brugernavn</label>
<input type="text">
{{!-- password --}}
<label for="password">Kodeord</label>
<input type="text">
<button>Login</button>
<a href="email">Glemt kodeord</a>