<P>{{message}}</P>
{{!-- username --}}
<label for="username">username</label>
<input type="text">
{{!-- password --}}
<label for="password">password</label>
<input type="text">
<button>Login</button>
<a href="email">glemt password</a>