<h1>Velkommen {{''}}</h1>
<p style="background-color: deeppink;">This is the homlsdfinfsepage rendered via MVC structure.</p>
<button id="getGasStation">Vælg tankstation</button>
<!-- header
velkommen (med tom string der henter fra profil)
modal med valg af tankstationer 
start rengøring ved (valgte tankstation)
valg af dato, med automatisk valg af idag
tidspunkt for rengøring
start log-- >