<!--velkommen (med tom string der henter fra profil)-->
<h1>Velkommen {{''}}</h1>


<!--Modal-->
<button id="getGasStation">Vælg tankstation</button>

<!--start rengøring ved (valgte tankstation)-->
<p>start rengøring ved {{''}}</p>


<!--valg af dato, med automatisk valg af idag-->
<div>
    <p>kalender</p>
</div>

<!--tidspunkt for rengøring-->
<div>
    <p>starttidspunt for rengøring</p>
</div>

<!--start log-->
<button>start log</button>