<!--velkommen (med tom string der henter fra profil)-->
<h1>Velkommen {{''}}</h1>


<!--Modal-->
<button id="getGasStation">Vælg tankstation</button>

<!--start rengøring ved (valgte tankstation)-->
<p>start rengøring ved {{''}}</p>

<div>

</div>


<!-- 

valg af dato, med automatisk valg af idag
tidspunkt for rengøring
start log-- >