
<h2>{{message}}</h2>

<p>{{content}}</p>

{{#each images}}
    <div class="image-container">
        <img src="/public/imgUploads/{{this}}" alt="Task Image" class="task-image">
    </div>
{{/each}}

