
<h2>{{gasstation2.location}}</h2>

<p>Skal forpladsen rengøres: {{gasstation2.frontSpace}}</p>

<section class="sec1">
    <h4>Upload Billeder</h4>
    <button class="before">Før billeder</button> <button class="after">Efter billeder</button>
    <br><br><button class="uploadet">Se uploadet billeder</button>


</section>

<section class="sec2">
    <p>Opfyldning af produkter</p>


</section>

<link rel="stylesheet" type="text/css" href="./css/taskPO.css">


