.objectList {
    display: grid;
    row-gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (min-width: 900px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}
.listItem {
    background: var(--white);
    border: none;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;

    grid-template-areas:
        'name functions'
        'contact functions';
}

.listItem .name{
    grid-area: name;
}
.listItem .contact{
    grid-area: contact;
}
.listItem .functions{
    grid-area: functions;
    display: flex;
    align-items: center;
}

.listItem .functions >{
    width: 50px;
}